.via-slds .via-slds-card--program {
    .via-slds-card--program-bg {
        background-color: #f4f6f9 !important;
        border-style: solid;
        border-width: 1px;
        border-color: #ced7e4;
        border-radius: 3px;
    }
    .via-slds-card__minwidth {
    max-width: 300px;
}
}