$background-blue: #f7fbfe;

.margin-bottom-fix{
    margin-bottom: 0 !important;
}

.title-blue-background{
    background-color: $background-blue !important;
}

.title-color{
    color: black !important
}