.via-slds .slds-table td, .via-slds .slds-table th{
       
       font-size: 20px !important;
}
.via-slds .slds-table td, .via-slds .slds-table th{
       
       font-size: 20px !important;
}
input .inputChkDisabled {
        background-color: #FFFFFF;
}
input .inputChkDisabled[disabled] {
        background-color: #FFFFFF;
}
input[type=checkbox] {
        content: " ";
        background-color: #FFFFFF;
        display: inline-block;
        visibility: visible;
}
input[type=checkbox]:checked:after {
        content: "\2714";
        background-color: #FFFFFF;
        display: inline-block;
}