$light-grey: #989591;

.greyed{
    background: $light-grey !important;
    background-color: $light-grey !important;
}

.search-container{
    width: 100%;
}

.orange-default{
    background: rgb(255, 109, 0) !important;
    background-color: rgb(255, 109, 0) !important;

}