$brownish-grey: #706E6B;

.via-nds .nds-table_striped tbody tr:nth-of-type(odd) > th {
    background-color: white !important;
}

.full-width{
    width: 100%;
}

.empty-state{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-wrapper { 
    overflow-x:scroll;
    overflow-y:visible;
    max-width: 80vw;
    margin: 0 auto;
    
}

.plans-text{
    font-size: 16px;
}

.list-header{
    border-bottom: 1px solid #dddbda;
    height: 49px;
    z-index: 2;
    box-shadow: 0px 11px 22px -16px rgba(138, 138, 138, 0.76);
}

.plan-attribute{
    color: $brownish-grey;
    font-style: italic;
}

// .hard_left {
//   position:absolute;
//   left:0; 
// //   width:100px;
// }
// .next_left {
//   position:absolute;
//   left:100px; 
// //   width:100px;
// }

// td, th {
//     padding: 5px 20px;
//     width: 100px;
// }

// thead th {
//   position: -webkit-sticky !important; /* for Safari */
//   position: sticky !important;
//   top: 0;
// //   background: #000;
// //   color: #FFF;
// }


th:nth-child(1) {
    left: 0;
    z-index: 1;
    position: sticky !important;
}

// .headcol {
//   position: absolute;
//   width: 5em;
//   left: 0;
//   top: auto;
//   border-top-width: 1px;
// }