.via-slds .slds-m-around--small, .via-slds .slds-m-around_small { min-width: 0px !important; }

svg.slds-icon.slds-icon--small {
    padding: 0.1rem;
}

.slds-card .slds-button {
    font-size: 0.75rem;
}