$dark-grey: #706e6b;
$warning-red: #c23934;

.margin-top-none{
    margin-top: 0 !important;
}
.display-flex-qli{
    display: flex !important;
}

.font-color-dark-grey{
    color: $dark-grey !important;
}